[submodule "buildfiles/cross/cross-core"]
	path = buildfiles/cross/cross-core
    url = https://github.com/mini-distribution/cross-core.git
[submodule "buildfiles/cross/cross-opt"]
	path = buildfiles/cross/cross-opt
    url = https://github.com/mini-distribution/cross-opt.git
[submodule "buildfiles/cross/cross-freedesktop"]
	path = buildfiles/cross/cross-freedesktop
    url = https://github.com/mini-distribution/cross-freedesktop.git
[submodule "buildfiles/cross/cross-extra"]
	path = buildfiles/cross/cross-extra
    url = https://github.com/mini-distribution/cross-extra.git
[submodule "buildfiles/native/native-freedesktop"]
	path = buildfiles/native/native-freedesktop
    url = https://github.com/mini-distribution/native-freedesktop.git
[submodule "buildfiles/cross/cross-freescale"]
	path = buildfiles/cross/cross-freescale
    url = https://github.com/mini-distribution/cross-freescale.git
[submodule "buildfiles/cross/cross-qt"]
	path = buildfiles/cross/cross-qt
    url = https://github.com/mini-distribution/cross-qt.git
