[submodule "buildfiles/cross/cross-core"]
	path = buildfiles/cross/cross-core
	url = git@github.com:lundmar/cross-core.git
[submodule "buildfiles/cross/cross-opt"]
	path = buildfiles/cross/cross-opt
	url = git@github.com:lundmar/cross-opt.git
[submodule "buildfiles/cross/cross-qt"]
	path = buildfiles/cross/cross-qt
	url = git@github.com:lundmar/cross-qt.git
[submodule "buildfiles/cross/cross-panda"]
	path = buildfiles/cross/cross-panda
	url = git@github.com:lundmar/cross-panda.git
[submodule "buildfiles/native/native-core"]
	path = buildfiles/native/native-core
	url = git@github.com:lundmar/native-core.git
[submodule "buildfiles/cross/cross-xorg"]
	path = buildfiles/cross/cross-xorg
	url = git@github.com:lundmar/cross-xorg.git
[submodule "buildfiles/cross/cross-extra"]
	path = buildfiles/cross/cross-extra
	url = git@github.com:lundmar/cross-extra.git
[submodule "buildfiles/native/native-panda"]
	path = buildfiles/native/native-panda
	url = git@github.com:lundmar/native-panda.git
